* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 14px;
    min-height: 0;
}

tooltip {
    font-family: 'JetBrainsMono Nerd Font';
    border-radius: 6px;
}

window#waybar {
    background: #2e3440;
    color: #d8dee9;
    padding: 2px 6px;
}

#window {
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
}

/* WORKSPACES */
#workspaces button {
    padding: 0 6px;
    margin: 2px;
    background: transparent;
    color: #d8dee9;
}

#workspaces button.active {
    background: #4c566a;
    color: #88c0d0;
    border-radius: 6px;
}

#workspaces button.urgent {
    color: #bf616a;
    border-radius: 6px;
}

#workspaces button:hover {
    background: #434c5e;
    color: #eceff4;
    border-radius: 6px;
}

#mode {
    background: #64727d;
    border-bottom: 3px solid white;
}

/* Modules shared style */
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#power-profiles-daemon,
#temperature,
#backlight,
#keyboard-state,
#scratchpad,
#mpd,
#tray,
#bluetooth,
#custom-weather,
#custom-pomodoro,
#custom-power,
#custom-media,
#custom-uptime {
    padding: 0 6px;
    margin: 0 2px;
}

/* Hover effect for all modules */
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#temperature:hover,
#backlight:hover,
#keyboard-state:hover,
#scratchpad:hover,
#mpd:hover,
#tray:hover,
#bluetooth:hover,
#custom-weather:hover,
#custom-pomodoro:hover,
#custom-power:hover,
#custom-media:hover,
#custom-uptime:hover {
    background: #434c5e;
    border-radius: 6px;
}

#clock {
    color: #ebcb8b;
    font-weight: bold;
}

#pulseaudio {
    color: #a3be8c;
}

#pulseaudio.muted {
    color: #616e88;
}

#network {
    color: #81a1c1;
}

#network.disconnected {
    color: #bf616a;
}

#battery {
    color: #88c0d0;
    background: transparent;
}

#battery.charging {
    color: #5e81ac;
}

#battery.warning {
    color: #ebcb8b;
}

#battery.critical {
    color: #bf616a;
}

#cpu {
    color: #8fbcbb;
}

#memory {
    color: #b48ead;
}

#temperature {
    color: #d08770;
}

#bluetooth {
    color: #88c0d0;
}

#custom-weather {
    color: #81a1c1;
}

#custom-pomodoro {
    color: #b48ead;
}

#custom-power {
    color: #8fbcbb;
    font-weight: bold;
}

#custom-media {
    color: #a3be8c;
}

#custom-uptime {
    color: #88c0d0;
}
